@import './base.css';

#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #fff;
}

.button {
  cursor: pointer;
  border: none;
  background-color: #2f2f2f;
  color: white;
  padding: 4px 8px;
  font-size: 1rem;
  border-radius: 5px;

  &:hover {
    background-color: #3b3b3b;
  }
}
